@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Light.woff2') format('woff2'),
      url('assets/fonts/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.woff2') format('woff2'),
      url('assets/fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Bold.woff2') format('woff2'),
      url('assets/fonts/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Black.woff2') format('woff2'),
      url('assets/fonts/Lato-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 1.8em;
  font-weight: 400;
  color: #767e9e;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 375px) {
  .wrapper {
    padding: 0 30px;
  }
}

.container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

/* Header */
.header {
  padding-top: 14px;
  height: 95px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  line-height: 1.1em;
  letter-spacing: -0.6px;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.logo span {
  color: #f06c64;
}

.navigation__list {
  display: flex;
  justify-content: flex-end;
}

.navigation__item {
  position: relative;
  margin-left: 29px;
}

.navigation__item + li::before {
  content: "";
  position: absolute;
  top: 29px;
  left: -15px;

  width: 2px;
  height: 2px;
  border-radius: 50%;

  background-color: #ffffff;
  opacity: 0.2;
}

.navigation__item a {
  display: inline-block;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: -0.07px;
  font-family: "Lato", "Helvetica", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  padding: 20px 0 10px;
}

.navigation__item--active a {
  color: #f06c64;
}

.navigation__item a:hover,
.navigation__item a:focus {
  color: #f06c64;
  transition: all 0.3s linear;
}

/* Main */
/* Slider */
.slider {
  margin-top: 95px;
  scroll-margin-top: 95px;
  padding: 52px 0;
}

.slider--1 {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider--2 {
  background-color: #648BF0;
  border-bottom: 6px solid #708cd8;
}

.slider__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__buttons {
  position: absolute;
  top: 233px;
  left: 40px;
  /* width: 940px; */
  display: flex;
  justify-content: space-between;
  /* z-index: 10; */
}

.arrow {
  display: block;
  width: 16px;
  height: 30px;
  padding: 0;
  margin-top: -6px;
  border: none;

  background-image: url(assets/images/arrow.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;

  cursor: pointer;
}

.arrow--right {
  transform: rotate(180deg);
}

.arrow:hover,
.arrow:focus {
  opacity: 0.3;
  transition: all 0.3s linear;
}

.slider__image {
  margin-left: -1px;
  display: flex;
  align-items: center;
}

.phone {
  position: relative;
}

.phone__button {
  position: absolute;
  width: 41px;
  height: 41px;
  background-color: transparent;
  border: 1px solid #fafafa;
  border-radius: 50%;
  cursor: pointer;
}

.phone__button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.01);
}

.phone__button--slide1-v {
  top: 409px;
  left: 89px;
}

.phone__button--slide1-h {
  top: 88px;
  left: 10px;
}

.phone__button--slide2-v {
  top: 434px;
  left: 93px;
  width: 43px;
  height: 43px;
}

.phone__inner {
  position: absolute;
  background-repeat: no-repeat;
}

/* Slider 1 */
.phone--vertical {
  margin-right: 72px;
}

.phone--horizontal {
  margin-top: -2px;
}

.phone__inner--vertical {
  top: 66px;
  left: 16px;

  width: 188px;
  height: 333px;

  background-image: url(assets/images/LayerVertical.png);
  background-position: -14px -135px;
  background-color: #dadb7d;
}

.phone__inner--horizontal {
  top: 14px;
  left: 60px;

  width: 334px;
  height: 189px;

  background-image: url(assets/images/LayerHorizontal.png);
  background-position: -124px -118px;
  background-color: #81cfd9;
}

/* Slider 2 */
.slider__image--2 {
  width: 471px;

  background-image: url(assets/images/slider-2-small.png);
  background-repeat: repeat-x;
  background-position: 0 96px;
}

.phone--big {
  margin: 0 auto;
}

.phone__inner--black {
  top: 69px;
  left: 15px;

  width: 200px;
  height: 354px;
  background-color: black;
}

/* Services */
.services {
  scroll-margin-top: 95px;
  min-height: 500px;
  padding-top: 62px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  margin-bottom: 21px;

  font-size: 30px;
  line-height: 1em;
  letter-spacing: -0.2px;
  font-family: "Lato";
  font-weight: 900;
  color: #666d89;
}

.services__intro {
  margin-bottom: 45px;

  font-size: 18px;
  line-height: 1.7em;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__features {
  position: relative;
  width: 32%;
  padding: 0 0 32px 80px;
}

.services__features::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 1px;

  width: 59px;
  height: 59px;
  border: 2px solid #666d89;
  border-radius: 50%;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.services__features:nth-child(2)::before,
.services__features:nth-child(3)::before,
.services__features:nth-child(5)::before,
.services__features:nth-child(6)::before {
  left: 0;
}

.services__features--pen::before {
  background-image: url(assets/images/ico-pen.svg);
  background-position: 53% 53%;
}

.services__features--bulb::before {
  background-image: url(assets/images/ico-bulb.svg);
}

.services__features--heart::before {
  background-image: url(assets/images/ico-heart.svg);
}

.services__features--phone::before {
  background-image: url(assets/images/ico-phone.svg);
}

.services__features--bubble::before {
  background-image: url(assets/images/ico-bubble.svg);
  background-position: 53% 53%;
}

.services__features--star::before {
  background-image: url(assets/images/ico-star.svg);
}

.services__f-title {
  margin-bottom: 10px;

  font-size: 18px;
  line-height: 1em;
  letter-spacing: -0.15px;
  font-family: "Lato";
  font-weight: 900;
  color: #666d89;
}

.crutch {
  letter-spacing: 2.6px;
}

.services__f-description {
  max-height: 63px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.8em;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
}

.services__f-description:hover {
  max-height: 100%;
}

/* Portfolio */
.portfolio {
  scroll-margin-top: 95px;
  padding: 62px 0 68px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  margin-bottom: 21px;

  font-size: 30px;
  line-height: 1em;
  letter-spacing: -0.2px;
  font-family: "Lato";
  font-weight: 900;
  color: #666d89;
}

.portfolio__intro {
  margin-bottom: 11px;

  font-size: 18px;
  line-height: 1.67em;
  font-family: "Lato";
  font-weight: 300;
  color: #767e9e;
}

.portfolio__classes {
  display: flex;
  margin-bottom: 19px;
  margin-left: 1px;
}

.portfolio__class {
  margin-right: 10px;
}

.portfolio__button {
  display: block;
  padding: 0 6px;
  border: 1px solid #666d89;
  border-radius: 5px;
  background-color: transparent;

  font-size: 12px;
  line-height: 1.7em;
  letter-spacing: -0.04px;
  font-family: "Lato";
  font-weight: 400;
  color: #767e9e;

  cursor: pointer;
}

.portfolio__button:hover,
.portfolio__button:focus {
  color: #dedede;
  background-color: #666d89;
  transition: all 0.3s linear;
  outline: none;
}

.portfolio__button--active {
  color: #dedede;
  border-color:#c5c5c5;
  outline: none;
}

.portfolio__gallery {
  display: grid;
  grid-template-areas:
    "a a a a"
    "a a a a"
    "a a a a";
    grid-gap: 20px;
}

.portfolio__item {
  cursor: pointer;
}

.portfolio__item::before {
  content: "";
  float: left;
  padding-top: 85%;
}

.portfolio__item img {
  display: block;
  width: 100%;
  height: 100%;
}

.portfolio__item:nth-child(1n + 13) {
  display: none;
}

.portfolio__image--bordered {
  outline: 5px solid #F06C64;
  transition: all 0.3s linear;
}

@media (max-width: 768px) {
  .portfolio__gallery {
    grid-template-areas:
    "a a a"
    "a a a"
    "a a a"
    "a a a";
  }
}

@media (max-width: 375px) {
  .portfolio {
    padding: 42px 0;
}

  .portfolio__gallery {
    grid-template-areas:
    "a a"
    "a a"
    "a a"
    "a a";
    grid-gap: 13px;
  }

  .portfolio__item:nth-child(1n + 9) {
    display: none;
  }
}

/* About Us */
.about {
  scroll-margin-top: 95px;
  padding: 62px 0 66px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about__title {
  margin-bottom: 22px;
  font-size: 30px;
  line-height: 1em;
  letter-spacing: -0.19px;
  font-family: "Lato";
  font-weight: 900;
  color: #666d89;
}

.about__intro {
  margin-bottom: 46px;
  font-size: 18px;
  line-height: 1.66em;
  font-family: "Lato";
  font-weight: 300;
  color: #767e9e;
  text-align: justify;
}

.about__staff {
  display: flex;
  justify-content: space-between;
}

.about__employee {
  width: 32%;
  display: flex;
  flex-direction: column;
}

.about__photo {
  margin-bottom: 11px;
}

.about__name {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: -0.24px;
  font-family: "Lato";
  font-weight: 900;
  color: #666d89;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.about__name:hover {
  white-space: normal;
}

.about__text {
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 1.83em;
  letter-spacing: -0.06px;
  font-family: "Lato";
  font-weight: 400;
  color: #767e9e;
  text-align: justify;
}

/* Social */
.social {
  display: flex;
  margin-top: auto;
}

.social__button {
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 8px;

  background-color: #f2f2f2;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.social__button:hover,
.social__button:focus {
  background-color: #666d89;
  transition: all 0.3s linear;
}

/* styles for use */
svg path {
  fill: inherit;
}

use {
  fill: #666d89;
}

.social__button:hover use,
.social__button:focus use {
  fill: #2d303a;
}

@media (max-width: 768px) {
  .about__intro {
    margin-bottom: 28px;
  }

  .about__name {
    margin-bottom: 5px;
  }

  .about__text {
    margin-bottom: 12px;
  }
}

@media (max-width: 550px) {
  .about {
    padding: 33px 0 12px;
  }

  .about__staff {
    display: block;
  }

  .about__employee {
    width: 100%;
  }

  .social {
    margin-bottom: 34px;
  }
}

/* Get a Quote */
.quote {
  scroll-margin-top: 95px;
  padding: 58px 0 62px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote__title {
  margin-bottom: 22px;
  font-size: 30px;
  line-height: 1em;
  letter-spacing: -0.2px;
  font-family: "Lato";
  font-weight: 900;
  color: #f0d8d9;
}

.quote__intro {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 1.66em;
  font-family: "Lato";
  font-weight: 300;
  color: #f0d8d9;
  text-align: justify;
}

.quote__wrapper {
  display: flex;
  justify-content: space-between;
}

/* Form */
.form {
  width: 66%;
}

.field-text {
  width: 100%;
  padding: 7px 12px;
  border-radius: 5px;
  background-color: #d6564f;
  border: 2px solid #d6564f;

  /* NB: font for typed text is not in the layout */
  font-size: 12px;
  line-height: 1.74em;
  font-family: "Lato";
  font-weight: 400;
  color: #2d303a;
}

.field-text::placeholder {
  font-size: 12px;
  line-height: 1.83em;
  font-family: "Lato";
  font-weight: 400;
  color: #f48c8f;
}

.form__fields {
  margin-bottom: 16px;
}

.form__fields:nth-child(4) {
  margin-bottom: 10px;
}

.form__textarea {
  padding-top: 5px;
  height: 158px;
  resize: none;
}

.field-text:not(:placeholder-shown) {
  background-color:#f0d8d9;
}

.field-text:invalid:not(:placeholder-shown) {
  border-color: #ac1000;
}

.field-text:valid:not(:placeholder-shown) {
  border-color: #f06c64;
}

/* NB: button submit is not in the layout */
.button {
  display: block;
  padding: 9px 51px;
  border: none;
  border-radius: 5px;
  background-color: #FBC65F;

  font-size: 12px;
  line-height: 1.83em;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  color:#886A30;

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #d6564f;
  background-color: #f0d8d9;
  transition: all 0.3s linear;
}

/* Contacts */
.contacts {
  width: 32%;
}

.contacts__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: -0.1px;
  font-family: "Lato";
  font-weight: 900;
  color: #f0d8d9;
}

.contacts__intro,
.contacts__info,
.contacts__link {
  font-size: 12px;
  line-height: 1.84em;
  letter-spacing: -0.03px;
  font-family: "Lato";
  font-weight: 400;
  color: #f0d8d9;
  text-align: justify;
}

.contacts__intro{
  margin-bottom: 20px;
}

.contacts__link:hover,
.contacts__link:focus {
  text-decoration: underline;
}

.contacts__info {
  position: relative;
  padding-left: 23px;
  letter-spacing: 0;
  line-height: 1.83em;
}

.contacts__info--phone {
  margin-bottom: 1px;
}

.contacts__info::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -1px;

  width: 15px;
  height: 15px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__info--address::before {
  background-image: url(assets/images/ico-location-pin.svg);
}

.contacts__info--phone::before {
  background-image: url(assets/images/ico-phone-contacts.svg);
}

.contacts__info--mail::before {
  top: 4px;
  width: 18px;
  height: 18px;
  background-image: url(assets/images/ico-mail.svg);
}

@media (max-width: 768px) {
  .quote {
    padding: 52px 0 40px;
}

  .form {
    width: 64%;
  }

  .contacts {
    width: 31.5%;
  }
}

@media (max-width: 550px) {
  .quote {
    padding: 44px 0 42px;
  }

  .quote__wrapper {
    display: block;
  }

  .form {
    width: 100%;
    margin-bottom: 32px;
  }

  .button {
    display: block;
    width: 100%;
  }

  .contacts {
    width: 100%;
  }
}

/* Footer */
.footer {
  padding-top: 22px;
  min-height: 76px;
  background-color: #2d303a;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-size: 12px;
  line-height: 1.24em;
  letter-spacing: -0.1px;
  font-family: "Lato";
  font-weight: 400;
  color: #666d89;
}

/* Footer Social icons */
.social__button--footer {
  margin-right: 0;
  margin-left: 8px;
  background-color: transparent;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 160px;
  left: calc(50% - 160px);
  width: 365px;
  min-height: 200px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.modal-show {
  display: block;
}

.modal__title {
  font-size: 18px;
  line-height: 1em;
  font-family: "Lato";
  font-weight: 900;
  margin-bottom: 20px;
}

.modal__subject,
.modal__description {
  font-size: 1.125rem;
  line-height: 1.875rem;
  font-family: 'Lato';
  font-weight: 300;
}

.modal__button {
  margin-top: 20px;
}

.button--modal {
  border: 1px solid #666d89;
  background-color: transparent;
  cursor: pointer;
  color: #666d89;
}

.button--modal:hover {
  color: #dedede;
  background-color: #666d89;
  transition: all 0.3s linear;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.modal-overlay-show {
  display: block;
}
